.thumbnail{
    width: 100%;
}
.vid-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}
.vid-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.profile-pic{
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.vid-author,
.vid-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.vid-author{
    margin-bottom: 4px;
}
.vid-grid{
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 40px;
}

@media (min-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.vid-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500px;
    padding: 4px 2px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 11px;
    right: 4px;
}